* { box-sizing: border-box; }

html, body, a, button, div, span, h1, h2, label, input, li, ul  {
  border: none;
  font: inherit;
  line-height: 1;
  margin: 0;
  padding: 0;
}

:root {
  --black: #000;
  --theme: #4679AD;
  --white: #fff;
  --default-border-radius: 0.25em;
}

html {
  background: var(--black);
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

html, body {
	inline-size: 100%;
	min-block-size: 100vh;
}

body {
  align-content: center;
  padding: 1em;
  /* TODO: use flex once gap in flex has enough support */
  display: grid;
  gap: 3em;
}

.button {
  background: var(--theme);
  border: 2px solid var(--theme);
  color: var(--white);
  cursor: pointer;
  padding: .5em 1em;
  border-radius: var(--default-border-radius);
}

.button.secondary { background: var(--black); }

.link { color: var(--theme); }

.checkbox {
  --checkbox-size: 1.5em;
  appearance: none;
  background: var(--theme);
  block-size: var(--checkbox-size);
  border-radius: var(--default-border-radius);
  cursor: inherit;
  display: inline-block;
  inline-size: var(--checkbox-size);
}

.checkbox::after {
  --checkmark-thickness: max(2px, calc(var(--checkbox-size) / 6));
  block-size: calc(var(--checkbox-size) / 4);
  border: solid var(--white);
  border-width: 0 0 var(--checkmark-thickness) var(--checkmark-thickness);
  content: "";
  display: inline-block;
  inline-size: calc(var(--checkbox-size) * 0.6);
  opacity: 0;
  transform: rotate(-45deg) translate(1px, calc((var(--checkbox-size) / 6) - 1px));
  transition: opacity 150ms;
}

.checkbox:not(:checked):hover::after { opacity: 0.4 }

.checkbox:checked::after { opacity: 1; }

.button:focus, .checkbox:focus, .link:focus {
  box-shadow: 0 0 0 2px var(--black), 0 0 0 4px var(--white);
  outline: none;
}

.heading { line-height: 2; }
